.applications-root {
  flex: 1;
  padding: 20px;
}

.applications-list {
  list-style: none;
  padding: 0;
}

.application-name {
  font-size: 0.9rem;
  margin: 0 0 8px;
}

.application-description {
  font-weight: 200;
  margin: 0 0 6px;
}

.application-box {
  border-top: 1px solid #e1e4e8;
  padding: 18px 0 18px;
}

.application-deploys-box {
  margin-bottom: 12px;
}

.app-square {
  display: inline-block;
  margin: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.app-normal {
  background: #5CDB95;
}

.app-warning {
  background: #FFE400;
}

.app-error {
  background: #FC4445;
}
