.answer-container {
  padding: 0 6%;
}
.answer-logo {
  text-align: center;
}

.logo-header {
  /* margin: 6% 0 12%; */
  text-align: center;
  font-size: 3rem;
  color: #f44324;
}

.answer-button {
  display: flex;
  justify-content: flex-end;
}
.answer-button-proxima {
  color: rgba(244, 67, 36, 0.8);
  border: 2px solid rgba(244, 67, 36, 0.8);
  font-weight: bold;
  font-size: 21px;
  text-decoration: none;
  padding: 10px;
  /* width: 100%; */
  background-color: transparent;
  cursor: pointer;
}

.answer-button-proxima:hover {
  color: #f44324;
  border: 2px solid #f44324;
}

.card-item-fim {
  background: #6156e8;
  color: #fff;
  padding: 4% 6% 6%;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  height: 320px;
}
.card-item {
  background: #6156e8;
  color: #fff;
  padding: 4% 6% 6%;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  height: 150px;
}

.card-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
