.header-root {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  padding: 22px 28px;
  min-height: 100px;
  background-color: #240090;
  color: #FFF;
}

.header-title {
  position: relative;
  z-index: 1000;
  margin: 0;
  font-size: 4rem;
}
